<app-header></app-header>
<div class="mainScreen">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center pt-3 mt-1 text-secondary ">Fase 1 identificación </h3>
            </div>
            <div class="col-12">
                <div class="row divCenter mb-3">
                    <div class="col-xxl-3 col-xl-3 col-12  ">
                        <div class="row">
                            <div class="col-5 d-grid">
                                <button (click)="onPreviousClic()"  class="btn btn-sm text-white shadow  " style="background-color: #35325b;"  >
                                    <i class="bi bi-arrow-left pt-3"></i>  Anterior
                                </button>
                            </div>
                            <div class="col-2 d-grid">
                                <span>{{page}}/{{pdfViewer?.pdfViewer?.pagesCount}}</span>
                            </div>
                            <div class="col-5  d-grid">
                                <button (click)="onNextClic()" class="btn btn-sm text-white shadow "  style="background-color: #35325b;"  >
                                    Siguiente <i class="bi bi-arrow-right " ></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <pdf-viewer src="../../../assets/docs/Tabla 29 artÍculos SCOPUS - WEB OF SCIENCE.pdf" [render-text]="true"
                    [show-all]="false"
                    [original-size]="false"
                    [page]="page"
                    style=" display: block; width: 100%; height: 650px ; margin-bottom: 1em;"></pdf-viewer>
                <!-- <pdf-viewer
    [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false"
    [render-text-mode]="1"
    [show-borders]="true"
    (after-load-complete)="afterLoadComplete($event)"
  ></pdf-viewer> -->
            </div>
        </div>
    </div>
</div>